/* 1.4 Icons */

[class^="icon-"] {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -.05em;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	letter-spacing: 0;
}

[class^="icon-"]:before {
	content: "W";
	opacity: 0;
	display: block;
	height: 0;
	padding-bottom: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chat {
	background-image: url("../img/icon-chat1.png");
	font-size: 1.5rem;
}