/* 1.5 Buttons */

button:focus,
input:focus {
  outline: none;
}

.btn {
	padding: 1rem 2.625rem;
	border-radius: 500px;
	font-weight: bold;
	font-size: .875rem;
	text-transform: uppercase;
}

.btn-dark {
	background-color: #0e496a;
}